@font-face {
	font-family: "Montserrat-Regular";
	src: local("Montserrat-Regular"),
		url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-Light";
	src: local("Montserrat-Light"),
		url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-Medium";
	src: local("Montserrat-Medium"),
		url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-Bold";
	src: local("Montserrat-Bold"),
		url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "FiraSans-Regular";
	src: local("FiraSans-Regular"),
		url("../fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "FiraSans-Light";
	src: local("FiraSans-Light"),
		url("../fonts/FiraSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "FiraSans-Medium";
	src: local("FiraSans-Medium"),
		url("../fonts/FiraSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "FiraSans-Bold";
	src: local("FiraSans-Bold"),
		url("../fonts/FiraSans-Bold.ttf") format("truetype");
}

* {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Montserrat-Regular;
	font-size: 1rem;
	color: #050911;
	background-color: #ffffff;
}

a:not(.decorated) {
	text-decoration: none;
	color: #050911;
}

.block {
	display: block;
}

.test {
	border: 1px solid red;
}

.flex-column {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-row-center {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-row-left {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.flex-row-right {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.full {
	width: 100% !important;
}

.half {
	width: 50% !important;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.text-xl {
	font-size: 1.5rem;
}

.text-lg {
	font-size: 1.125rem;
}

.text-md {
	font-size: 1rem;
}

.text-sm {
	font-size: 0.875rem;
}

.font-regular-mont {
	font-family: Montserrat-Regular;
}

.font-light-mont {
	font-family: Montserrat-Light;
}

.font-medium-mont {
	font-family: Montserrat-Medium;
}

.font-bold-mont {
	font-family: Montserrat-Bold;
}

.font-regular-fira {
	font-family: FiraSans-Regular;
}

.font-light-fira {
	font-family: FiraSans-Light;
}

.font-medium-fira {
	font-family: FiraSans-Medium;
}

.font-bold-fira {
	font-family: FiraSans-Bold;
}

.color-white {
	color: #fff !important;
}

.color-light-blue {
	color: #5d9cbe;
}

.color-dark-blue {
	color: #264465 !important;
}

.bg-white {
	background-color: #fff !important;
}

.bg-light {
	background-color: #d7effc !important;
}

.bg-dark {
	background: #335c80 !important;
}

.upper {
	text-transform: uppercase;
}

.spaced {
	letter-spacing: 1px;
}

.page {
	width: 210mm;
	height: 297mm;
	overflow: hidden;
	/* border: 1px solid black; */
}

.cover {
	background: url(../img/assets/cover.jpg);
	background-size: cover;
	background-position: center 0;
	/* padding-top: 150px; */
	padding-bottom: 80px;
}

.cover-title {
	font-size: 1.8rem;
	margin-bottom: 10px;
}

.cover-subtitle {
	font-size: 1.2rem;
}

.code-icon {
	font-size: 3rem;
	margin-bottom: 10px;
}

.intro-text {
	font-size: 1.1rem;
}

.page-header {
	height: 200px;
	width: 100%;
}

.dp-container {
	position: absolute;
	bottom: -100px;
	border: 2px solid #eee;
	height: 220px;
	width: 220px;
	border-radius: 50%;
	background-size: cover !important;
	background-position: center !important;
}

.page-body {
	margin-top: 120px;
	padding: 50px;
}

.educ-course {
	display: block;
	margin-top: 5px;
	font-size: 0.85rem;
}

.educ-years {
	display: block;
	margin-top: 5px;
	font-size: 0.8rem;
}

.contact-row {
	margin-top: 108px;
}

.work-icon {
	height: 80px;
	margin-bottom: 30px;
}

.trail {
	position: absolute;
	left: 0;
}

.trail-1 {
	top: 120px;
	width: 100%;
	transform: rotate(90deg);
}

.trail-2 {
	top: 90px;
	width: 110%;
	transform: rotate(85deg);
}

.plane {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 100%;
}

.work-card {
	padding: 30px;
	border-radius: 15px;
	height: fit-content;
}

.work-card:first-of-type {
	position: absolute;
	top: 50px;
	left: 50px;
}

.work-card:nth-of-type(2) {
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.work-img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-size: cover !important;
	background-position: center !important;
	margin-right: 20px;
}

.work-img.bordered {
	border: 2px solid #eee;
}

.work-section-label {
	display: block;
	margin-top: 30px;
	margin-bottom: 7px;
}

.work-list {
	padding-left: 1rem;
}

.work-list li:not(:last-of-type) {
	margin-bottom: 5px;
}

.skills-container {
	padding: 50px;
}

.skills-header {
	margin-bottom: 40px;
}

.skills-icon {
	height: 40px;
	margin-bottom: 10px;
}

.skill-group {
	margin-top: 30px;
	padding: 15px;
}

.skill-group .row:not(:first-of-type) {
	margin-top: 35px;
}

.skill-group-label {
	display: block;
	margin-bottom: 20px;
}

.skill-row {
	height: 100px;
}

.skill-img {
	height: 45px;
	margin-bottom: 10px;
}

.skill-legends {
	justify-content: end;
}

.skill-legend {
	width: fit-content;
}

.skill-level {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-top: 5px;
}

.skill-legend-color {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-right: 10px;
}

.skill-level.green,
.skill-legend-color.green {
	background-color: green;
}

.skill-level.orange,
.skill-legend-color.orange {
	background-color: orange;
}

.skill-level.red,
.skill-legend-color.red {
	background-color: red;
}
